In [10]:
library(tidyverse)
library(infer)

# Vancouver Crime Data

## Introduction

## Preliminary Results

We'll start by importing the dataset from it's original source, loading it into a dataframe and inspecting the results.

In [7]:
download.file("http://geodash.vpd.ca/opendata/crimedata_download/crimedata_csv_all_years.zip", destfile="crime_data.zip")
unzip("crime_data.zip")
crime_data <- read_csv("crimedata_csv_all_years.csv")

In [13]:
head(crime_data)

  TYPE                       YEAR MONTH DAY HOUR MINUTE HUNDRED_BLOCK
1 Break and Enter Commercial 2012 12    14   8   52     NA
2 Break and Enter Commercial 2019  3     7   2    6     10XX SITKA SQ
3 Break and Enter Commercial 2019  8    27   4   12     10XX ALBERNI ST
4 Break and Enter Commercial 2014  8     8   5   13     10XX ALBERNI ST
5 Break and Enter Commercial 2020  7    28  19   12     10XX ALBERNI ST
6 Break and Enter Commercial 2005 11    14   3    9     10XX ALBERNI ST
  NEIGHBOURHOOD X        Y
1 Oakridge      491285.0 5453433
2 Fairview      490613.0 5457110
3 West End      491007.8 5459174
4 West End      491015.9 5459166
5 West End      491015.9 5459166
6 West End      491021.4 5459161

## Methods